.menu li{
  display: inline;
  font-family: monospace;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
}

.menu {
  text-align: center;
}

.menu a {
  color: white;
  font-size: 20px;
  transition: 100ms;  
}

.menu a:hover {
  font-size: 25px;
  transition:100ms
}

.menu a:link {
  color: white;
}

.menu a:visited {
  color: white;
}

.title {
  margin: auto;
  text-align: center;
}
.title h1 {
  font-family: monospace;
  font-size: 100px;
  color: white;
  font-weight: bold;
}

h1 {
  font-family: monospace;
  font-size: 100px;
  color: white;
  font-weight: bold;
}

body {
  background-color: black;
}

.p1 {
  margin: auto;
  text-align: justify;
  width: 750px;
  line-height:normal;
}

.p1 p {
  font-family: monospace;
  font-size: 30px;
  color: white;
}

.p1 ul {
  font-family: monospace;
  font-size: 30px;
  color: white;
}

.hometext a {
  color:crimson
}

.hometext a:link {
  color:crimson
}

.hometext a:visited {
  color:crimson
}
